body {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .bg-pink {
    background-color: #ff778e; /* Light pink */
  }

  
  button {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #f8a1b5;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ff618b;
  }
  